body {
  background-color: black;
  color: White;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Lobster', cursive;
  font-size: 4rem;
}
.input {
  padding-top: 20px;
  padding-bottom: 20px;
}
.button {
  padding-top: 20px;
  padding-bottom: 20px;
}
